<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007936213172-k3e00hjpbaiovjcsfluvc7bug64ubpec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007936213172-k3e00hjpbaiovjcsfluvc7bug64ubpec</string>
	<key>API_KEY</key>
	<string>AIzaSyA_8Z466fJTYzV6RScwvwn54bBO9PGVni4</string>
	<key>GCM_SENDER_ID</key>
	<string>1007936213172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.opendating</string>
	<key>PROJECT_ID</key>
	<string>open-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>open-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007936213172:ios:0b9759db6a6055ef1487e1</string>
	<key>DATABASE_URL</key>
	<string>https://open-dating.firebaseio.com</string>
</dict>
</plist>