{
  "project_info": {
    "project_number": "13172",
    "firebase_url": "https://EXAMPLE.firebaseio.com",
    "project_id": "open-dating",
    "storage_bucket": "open-dating.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1007936213172:android:70335b9b5a49a9e61487e1",
        "android_client_info": {
          "package_name": "org.opendating"
        }
      },
      "oauth_client": [
        {
          "client_id": "100793gleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyCJbhxDYdyWwybM"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "1007936598qgnh1i0743a0la4.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
