@import '../../../config/variables';

.toolbar-dialog-message {
  border-bottom: none;
  flex-grow: 1;
  height: $toolbarHeight;
  z-index: 1000;

  .toolbar-dialog-message__bar {
    height: $toolbarHeight;
    min-height: $toolbarHeight;
    background-color: white;
    box-shadow: $toolbarShadow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .toolbar-dialog-message__bar__title {
      width: calc(100% - 115px);
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > div {
        margin-left: 16px;
      }

      .toolbar-dialog-message__bar__title__opponent {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
