@import '../../config/variables';

.join-photos {
  box-shadow: none !important;
  border-radius: 0 !important;
  border-color: transparent !important;
  margin-bottom: $btmOffset;

  .join-photos__actions {
    display: flex;
    justify-content: space-around;
  }

  .small-tip {
    margin-bottom: 15px;
  }
}
