@import '../../../config/variables';

.user-card-photo {
  width: calc(100% + #{$cardOffset * 2});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: $cardWidth;
  margin: 0 #{$cardOffset * -1};
  position: relative;

  &.user-card-photo--fixed-height {
    height: 60vh;
  }

  .user-card-photo__pic {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .user-card-photo__pic__pc-drag-preventer {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
    }
  }

  .user-card-photo__zoom-to-face {
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
  }

  .user-card-photo__identity {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
}
