$toolbarHeight: 56px;
$cardWidth: 432px;
$cardOffset: 16px;
$topOffset: 16px;
$toolbarShadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$btmOffset: 32px;
